## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9", "T13", "66", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# since there are more to replace than to keep, we create a list of values to keep
classifications_to_keep = ["C1000", "C2000", "C1200", "C3000", "C2100"]
classifications_to_replace = application_df[~application_df['CLASSIFICATION'].isin(classifications_to_keep)]
classifications_to_replace = classifications_to_replace['CLASSIFICATION'].value_counts().index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
APPLICATION_TYPE_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'], dtype=int)
AFFILIATION_dummies = pd.get_dummies(application_df['AFFILIATION'], dtype=int)
CLASSIFICATION_dummies = pd.get_dummies(application_df['CLASSIFICATION'], dtype=int)
USE_CASE_dummies = pd.get_dummies(application_df['USE_CASE'], dtype=int)
ORGANIZATION_dummies = pd.get_dummies(application_df['ORGANIZATION'], dtype=int)
INCOME_AMT_dummies = pd.get_dummies(application_df['INCOME_AMT'], dtype=int)
SPECIAL_CONSIDERATIONS_dummies = pd.get_dummies(application_df['SPECIAL_CONSIDERATIONS'], dtype=int)

In [11]:
SPECIAL_CONSIDERATIONS_dummies

       N  Y
0      1  0
1      1  0
2      1  0
3      1  0
4      1  0
...   .. ..
34294  1  0
34295  1  0
34296  1  0
34297  1  0
34298  1  0

[34299 rows x 2 columns]

In [12]:
# create 'numeric_application_df' and drop all categorical columns
numeric_application_df = application_df.drop(columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'], axis=1)

In [13]:
numeric_application_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [14]:
# concate categorical dummies with application_df
processed_application_df = pd.concat([numeric_application_df,APPLICATION_TYPE_dummies,AFFILIATION_dummies,CLASSIFICATION_dummies,USE_CASE_dummies,ORGANIZATION_dummies,INCOME_AMT_dummies,SPECIAL_CONSIDERATIONS_dummies], axis=1)

In [15]:
processed_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,Other,T10,T19,T3,T4,T5,T6,...,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M,N,Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [16]:
# Split our preprocessed data into our features and target arrays
 # features
X = processed_application_df.drop('IS_SUCCESSFUL', axis=1)
 # target
y = processed_application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [17]:
X.shape

(34299, 43)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 325us/step - loss: 0.5746 - accuracy: 0.7214
Epoch 2/100
804/804 [==============================] - 0s 308us/step - loss: 0.5564 - accuracy: 0.7311
Epoch 3/100
804/804 [==============================] - 0s 431us/step - loss: 0.5531 - accuracy: 0.7315
Epoch 4/100
804/804 [==============================] - 0s 329us/step - loss: 0.5516 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 0s 309us/step - loss: 0.5502 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 0s 302us/step - loss: 0.5491 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 0s 310us/step - loss: 0.5480 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 0s 304us/step - loss: 0.5480 - accuracy: 0.7335
Epoch 9/100
804/804 [==============================] - 0s 312us/step - loss: 0.5475 - accuracy: 0.7343
Epoch 10/100
804/804 [==============================] - 0s 316us/step - loss: 0.5466 - accuracy: 0.7346
Epoch 11/100
804/804 [==============================] - 0s 306us/step - loss: 0.5455 - accuracy: 0.7338
Epoch 12/100
804/804 [==============================] - 0s 300us/step - loss: 0.5462 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 0s 309us/step - loss: 0.5454 - accuracy: 0.7355
Epoch 14/100
804/804 [==============================] - 0s 335us/step - loss: 0.5451 - accuracy: 0.7346
Epoch 15/100
804/804 [==============================] - 0s 360us/step - loss: 0.5447 - accuracy: 0.7363
Epoch 16/100
804/804 [==============================] - 0s 359us/step - loss: 0.5447 - accuracy: 0.7354
Epoch 17/100
804/804 [==============================] - 0s 364us/step - loss: 0.5443 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 0s 369us/step - loss: 0.5439 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 0s 396us/step - loss: 0.5437 - accuracy: 0.7369
Epoch 20/100
804/804 [==============================] - 0s 393us/step - loss: 0.5429 - accuracy: 0.7365
Epoch 21/100
804/804 [==============================] - 0s 516us/step - loss: 0.5432 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 0s 377us/step - loss: 0.5427 - accuracy: 0.7376
Epoch 23/100
804/804 [==============================] - 0s 388us/step - loss: 0.5428 - accuracy: 0.7369
Epoch 24/100
804/804 [==============================] - 0s 374us/step - loss: 0.5424 - accuracy: 0.7371
Epoch 25/100
804/804 [==============================] - 0s 374us/step - loss: 0.5426 - accuracy: 0.7371
Epoch 26/100
804/804 [==============================] - 0s 372us/step - loss: 0.5414 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 0s 370us/step - loss: 0.5417 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 0s 373us/step - loss: 0.5417 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 0s 362us/step - loss: 0.5412 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 0s 392us/step - loss: 0.5417 - accuracy: 0.7378
Epoch 31/100
804/804 [==============================] - 0s 413us/step - loss: 0.5412 - accuracy: 0.7375
Epoch 32/100
804/804 [==============================] - 0s 416us/step - loss: 0.5410 - accuracy: 0.7376
Epoch 33/100
804/804 [==============================] - 0s 475us/step - loss: 0.5402 - accuracy: 0.7386
Epoch 34/100
804/804 [==============================] - 1s 624us/step - loss: 0.5410 - accuracy: 0.7390
Epoch 35/100
804/804 [==============================] - 0s 433us/step - loss: 0.5404 - accuracy: 0.7375
Epoch 36/100
804/804 [==============================] - 0s 454us/step - loss: 0.5408 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 0s 449us/step - loss: 0.5400 - accuracy: 0.7388
Epoch 38/100
804/804 [==============================] - 0s 468us/step - loss: 0.5399 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 0s 449us/step - loss: 0.5399 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 0s 482us/step - loss: 0.5398 - accuracy: 0.7400
Epoch 41/100
804/804 [==============================] - 0s 474us/step - loss: 0.5396 - accuracy: 0.7388
Epoch 42/100
804/804 [==============================] - 0s 458us/step - loss: 0.5405 - accuracy: 0.7384
Epoch 43/100
804/804 [==============================] - 0s 428us/step - loss: 0.5395 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 0s 411us/step - loss: 0.5395 - accuracy: 0.7396
Epoch 45/100
804/804 [==============================] - 0s 428us/step - loss: 0.5391 - accuracy: 0.7391
Epoch 46/100
804/804 [==============================] - 0s 521us/step - loss: 0.5392 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 0s 460us/step - loss: 0.5394 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 0s 485us/step - loss: 0.5388 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 0s 454us/step - loss: 0.5386 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 0s 449us/step - loss: 0.5388 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 0s 481us/step - loss: 0.5389 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 0s 462us/step - loss: 0.5385 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 0s 434us/step - loss: 0.5388 - accuracy: 0.7401
Epoch 54/100
804/804 [==============================] - 0s 441us/step - loss: 0.5388 - accuracy: 0.7404
Epoch 55/100
804/804 [==============================] - 0s 454us/step - loss: 0.5384 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 0s 468us/step - loss: 0.5382 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 0s 468us/step - loss: 0.5383 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 0s 472us/step - loss: 0.5381 - accuracy: 0.7405
Epoch 59/100
804/804 [==============================] - 0s 471us/step - loss: 0.5381 - accuracy: 0.7398
Epoch 60/100
804/804 [==============================] - 0s 459us/step - loss: 0.5382 - accuracy: 0.7399
Epoch 61/100
804/804 [==============================] - 0s 480us/step - loss: 0.5379 - accuracy: 0.7406
Epoch 62/100
804/804 [==============================] - 0s 471us/step - loss: 0.5380 - accuracy: 0.7405
Epoch 63/100
804/804 [==============================] - 0s 432us/step - loss: 0.5382 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 0s 441us/step - loss: 0.5377 - accuracy: 0.7396
Epoch 65/100
804/804 [==============================] - 0s 451us/step - loss: 0.5378 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 0s 470us/step - loss: 0.5378 - accuracy: 0.7399
Epoch 67/100
804/804 [==============================] - 0s 472us/step - loss: 0.5375 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 0s 454us/step - loss: 0.5375 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 0s 483us/step - loss: 0.5374 - accuracy: 0.7404
Epoch 70/100
804/804 [==============================] - 0s 543us/step - loss: 0.5376 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 0s 492us/step - loss: 0.5374 - accuracy: 0.7402
Epoch 72/100
804/804 [==============================] - 0s 459us/step - loss: 0.5370 - accuracy: 0.7405
Epoch 73/100
804/804 [==============================] - 0s 433us/step - loss: 0.5369 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 0s 436us/step - loss: 0.5373 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 0s 431us/step - loss: 0.5369 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 0s 445us/step - loss: 0.5371 - accuracy: 0.7399
Epoch 77/100
804/804 [==============================] - 0s 462us/step - loss: 0.5371 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 0s 466us/step - loss: 0.5375 - accuracy: 0.7402
Epoch 79/100
804/804 [==============================] - 0s 431us/step - loss: 0.5367 - accuracy: 0.7409
Epoch 80/100
804/804 [==============================] - 0s 431us/step - loss: 0.5367 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 0s 440us/step - loss: 0.5368 - accuracy: 0.7403
Epoch 82/100
804/804 [==============================] - 0s 510us/step - loss: 0.5363 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 0s 435us/step - loss: 0.5363 - accuracy: 0.7403
Epoch 84/100
804/804 [==============================] - 0s 429us/step - loss: 0.5363 - accuracy: 0.7404
Epoch 85/100
804/804 [==============================] - 0s 480us/step - loss: 0.5365 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 0s 431us/step - loss: 0.5363 - accuracy: 0.7409
Epoch 87/100
804/804 [==============================] - 0s 448us/step - loss: 0.5364 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 0s 441us/step - loss: 0.5360 - accuracy: 0.7400
Epoch 89/100
804/804 [==============================] - 0s 441us/step - loss: 0.5361 - accuracy: 0.7405
Epoch 90/100
804/804 [==============================] - 0s 442us/step - loss: 0.5362 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 0s 488us/step - loss: 0.5360 - accuracy: 0.7408
Epoch 92/100
804/804 [==============================] - 0s 434us/step - loss: 0.5362 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 0s 489us/step - loss: 0.5362 - accuracy: 0.7412
Epoch 94/100
804/804 [==============================] - 0s 438us/step - loss: 0.5359 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 0s 470us/step - loss: 0.5359 - accuracy: 0.7409
Epoch 96/100
804/804 [==============================] - 0s 448us/step - loss: 0.5362 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 0s 437us/step - loss: 0.5362 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 0s 447us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 99/100
804/804 [==============================] - 0s 456us/step - loss: 0.5362 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 0s 454us/step - loss: 0.5360 - accuracy: 0.7401

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7244 - 120ms/epoch - 447us/step
Loss: 0.5564635396003723, Accuracy: 0.7244315147399902

In [24]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/Users/jiajialiu/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(